<div
  class="fs"
  [class.fs--float]="labelMode() === 'float'"
  [class.fs--inset]="labelMode() === 'inset'"
  [class.fs--multilinea]="multiline()"
  [class.is-floated]="floated()"
  [class.is-invalid]="!!error()"
  [class.is-readonly]="readonly()"
  [class.is-disabled]="disabled()"
>
  @if (labelMode() === "top" && label()) {
    <label class="ui-label" [attr.for]="controlId()">
      {{ label() }}
      @if (required()) {
        <span class="ui-label__required" aria-hidden="true">*</span>
      }
    </label>
  }

  <div class="fs__box">
    <ng-content />

    @if (labelMode() === "float") {
      <fieldset class="fs__outline" aria-hidden="true">
        <legend class="fs__legend">{{ label() }}{{ required() ? " *" : "" }}</legend>
      </fieldset>

      @if (label()) {
        <label class="fs__label" [attr.for]="controlId()">
          {{ label() }}
          @if (required()) {
            <span class="ui-label__required" aria-hidden="true">*</span>
          }
        </label>
      }
    }

    @if (labelMode() === "inset" && label()) {
      <label class="fs__inset-label" [attr.for]="controlId()">
        {{ label() }}
        @if (required()) {
          <span class="ui-label__required" aria-hidden="true">*</span>
        }
      </label>
    }
  </div>

  @if (error()) {
    <p class="ui-msg ui-msg--error" [id]="idMensaje()">{{ error() }}</p>
  } @else if (aviso()) {
    <p class="ui-msg ui-msg--aviso" [id]="idMensaje()">{{ aviso() }}</p>
  } @else if (hint()) {
    <p class="ui-msg" [id]="idMensaje()">{{ hint() }}</p>
  }
</div>
