:host {
  display: block;
}

.ui-control {
  padding-block: var(--space-2);
  line-height: var(--line-height-normal);
  resize: vertical;
  min-height: 60px;
}

.ui-control.is-floating {
  padding-block-start: var(--space-3);
}

.ui-control.is-inset {
  min-height: 78px;
}
